:root {
    --BackGroundColor: #607d8b;
    --BackGroundColorSecond: #242D3D;
    --TextColor: white;
    --TextHeaderColor: #a9ddfd;
    --SelectedItem: #69b2c8;
    --ButtonColor: #3d3c72;
}

body {
    background-color: var(--BackGroundColor) !important;
}
._3ZJK8 {
    background-color: var(--BackGroundColor) !important;
}

._3g2C1 {
    background-color: var(--BackGroundColor) !important;
}

._3Gj5_ {
    background-color: var(--BackGroundColor) !important;
}

._3ZuGY {
    background-color: var(--BackGroundColor) !important;
}

._3QwaZ {
    background-color: var(--SelectedItem) !important;
}

.yXp5g:hover {
    background-color: var(--SelectedItem) !important;
}

._3f9ou {
    background-color: var(--BackGroundColor) !important;
}

._1dj9x {
    background-color: var(--BackGroundColor) !important;
}

._3M0r3, .GVcJz {
    background-color: var(--BackGroundColor) !important;
}

._3esGm {
    background-color: #66aac6 !important;;
}

._1LpFA {
    color: var(--TextColor) !important;
}

._288DZ {
    color: var(--TextHeaderColor) !important;
}

._3cvJx {
    color: var(--TextColor) !important;
}

.Mr3if {
    color: var(--TextHeaderColor) !important;
}

._16nyP {
    color: var(--TextHeaderColor) !important;
}

._3HNwo {
    color: var(--TextHeaderColor) !important;
}

._15-md {
    color: var(--TextColor) !important;
}

._861_w {
    color: var(--TextColor) !important;
}

._3YFg9 {
    color: var(--TextHeaderColor) !important;
}

._1_ZCT {
    color: var(--TextColor) !important;
}

._3KnwL {
    color: var(--TextHeaderColor) !important;
}

._34v50 {
    color: var(--TextHeaderColor) !important;
}

.YBCQI {
    color: var(--TextHeaderColor) !important;
}

._2lmS1 {
    color: var(--TextHeaderColor) !important;
}

.OhXul {
    color: var(--TextHeaderColor) !important;
}
.b8EPD{
    background-color: var(--BackGroundColor) !important;
}
.Hki-a{
    color: var(--TextHeaderColor) !important;
}
._3OZGK{
    color: var(--TextColor) !important;
}
.oN_-E{
    color: var(--TextHeaderColor) !important;
}
._24isA{
    color: var(--TextColor) !important;
}
.cqJc3{
    color: var(--TextColor) !important;
}
._3HPNX{
    color: var(--TextHeaderColor) !important;
}
.RUO3N{
    color: var(--TextColor) !important;
}
._1CsoA{
    color: var(--TextHeaderColor) !important;
}
._3RRk-{
    color: var(--TextColor) !important;
}
._2IvpL{
    color: var(--TextColor) !important;
}
._1wy04{
    color: var(--TextHeaderColor) !important;
}
._1X2WL{
    color: var(--TextColor) !important;
}
._2MuBW{
    color: var(--TextHeaderColor) !important;
}
._2k8ad{
    color: var(--TextColor) !important;
}
._1Y-pT{
    color: var(--TextHeaderColor) !important;
}
._1oj-F{
    color: var(--TextHeaderColor) !important;
}
._11zAS{
    color: var(--TextColor) !important;
}
._2gBaq{
    color: var(--TextColor) !important;
}
.hjHie{
    color: var(--TextHeaderColor) !important;
}
._4w6BV{
    color: var(--TextColor) !important;
}
._1V_qq{
    color: var(--TextHeaderColor) !important;
}
._3YkaQ{
    color: var(--TextHeaderColor) !important;
}
._1MTUU{
    color: var(--TextHeaderColor) !important;
}
.ruQ9B{
    color: var(--TextColor) !important;
}
._2WURb{
    color: var(--TextColor) !important;
}
._1oJn-{
    color: var(--TextHeaderColor) !important;
}
.F7s-7, .oUi9v{
    color: var(--TextHeaderColor) !important;
}
._3mABf{
    color: var(--TextColor) !important;
}
._14oJt{
    color: var(--TextHeaderColor) !important;
}
._1xIvJ{
    color: var(--TextHeaderColor) !important;
}
._2Jpl2, ._3qIya{
    color: var(--TextColor) !important;
}
._2qwmM{
    color: var(--TextHeaderColor) !important;
}
._1OeGd{
    color: var(--TextHeaderColor) !important;
}
._2aUvg{
    color: var(--TextColor) !important;
}
._3T_VZ{
    color: var(--TextHeaderColor) !important;
}
._3OVD3, ._3OVD3:hover{
    color: var(--SelectedItem) !important;
}
._2yr5w{
    color: var(--TextHeaderColor) !important;
}
._2peQQ{
    color: var(--TextColor) !important;
}
div > ._1WxbR, ._2peQQ > h2{
    color: var(--TextHeaderColor) !important;
}
._3tyf9{
    color: var(--TextColor) !important;
}
section._3tyf9 >h2{
    color: var(--TextHeaderColor) !important;
}
section._3AhXz._3tyf9 > div > h2{
    color: var(--TextHeaderColor) !important;
}
._3ewXh{
    color: var(--TextHeaderColor) !important;
}
._2OXdR{
    color: var(--TextColor) !important;
}
._3L2yy{
    color: var(--TextHeaderColor) !important;
}
section._3A4Lv > div > span > p {
    color: var(--TextColor) !important;
}
._38Z_6{
    color: var(--TextHeaderColor) !important;
}
._3W-Oj{
    color: var(--TextHeaderColor) !important;
}
._2dZ-D{
    color: var(--TextColor) !important;
}
._171ia{
    color: var(--TextHeaderColor) !important;
}
._2WDSF{
    color: var(--TextColor) !important;
}
._1hEOp._13Rl7._3lUbm._2WDSF._18W4a.xtPuL > h4{
    color: var(--TextHeaderColor) !important;
}
._1eSrF{
    background: var(--SelectedItem) !important;
}
.rmbzf:hover{
    background: var(--SelectedItem) !important;
}
._2r5Z9{
    color: var(--TextHeaderColor) !important;
}
._2dBST ._2w563{
    color: var(--TextHeaderColor) !important;
}
._2dBST ._2L75s{
    color: var(--TextColor) !important;
}
.SCM8o{
    color: var(--TextHeaderColor) !important;
}
.NBVqZ{
    color: var(--TextColor) !important;
}
._3D9Yz{
    color: var(--TextColor) !important; 
}
._2_XU0{
    color: var(--TextColor) !important;
}
._4ZtOG{
    color: var(--TextHeaderColor) !important;
}
._2Gzwk{
    color: var(--TextColor) !important;
}
._399cc {
    background-color: var(--BackGroundColor) !important;
}
._1hEOp {
    background-color: var(--BackGroundColor) !important;
}

._3cDk3 {
    color: var(--TextColor) !important;
}

.ccZTP {
    color: var(--TextColor) !important;
}

._2b2qG {
    color: var(--TextColor) !important;
}

._3plTW {
    background: linear-gradient(90deg, #fe9501, hsla(0, 0%, 100%, 0) 10%, hsla(0, 0%, 100%, 0) 90%, #fe9501) !important;
}

._2xq2g .-qc09 ._2rUPd {
    color: var(--TextHeaderColor) !important;
}

._3h6Yu {
    color: var(--TextColor) !important;
}

._2LZl6 {
    color: var(--TextHeaderColor) !important;
}

._2TPy4 {
    color: var(--TextHeaderColor) !important;
}

._1LruX {
    color: var(--TextHeaderColor) !important;
}

.C21s9 {
    color: var(--TextColor) !important;
}
._1zsgz {
    background-color: var(--BackGroundColor) !important;
}

._1kJpR {
    background-color: var(--BackGroundColor) !important;
}

._1bYhI {
    background-color: var(--BackGroundColor) !important;
}

._1x7If, ._2_Pxj {
    background-color: var(--BackGroundColor) !important;
}

._2nLk_ {
    background-color: var(--BackGroundColor) !important;
}

._1lgsd {
    background-color: var(--BackGroundColor) !important;
}

._3tLz5 {
    color: var(--TextColor) !important;
}

._1eZU8 {
    color: var(--TextHeaderColor) !important;
}

._1qdLM {
    color: var(--TextHeaderColor) !important;
}

._2zN81 {
    color: var(--TextHeaderColor) !important;
}

._1lJ31 {
    color: var(--TextColor) !important;
}

._2igzU._3LUrt {
    color: var(--TextColor) !important;
}

.saQLX {
    color: var(--TextHeaderColor) !important;
}

._2igzU _3LUrt _2P5W7 {
    color: var(--TextHeaderColor) !important;
}
._1szh4{
    background-color: var(--BackGroundColor) !important;
}
._1qFda{
    color: var(--TextHeaderColor) !important;
}
._3TKwv{
    color: var(--TextHeaderColor) !important;
}
.jcVkl{
    color: var(--TextColor) !important;
}
._1azKr {
    background-color: var(--BackGroundColor) !important;
}

._2PVaI {
    background-color: var(--BackGroundColor) !important;
}

._2QQA_ {
    color: var(--TextColor) !important;
}

._3g6lk {
    color: var(--TextHeaderColor) !important;
}

._2ztBJ {
    color: var(--TextColor) !important;
}

._1gB7x {
    color: var(--TextHeaderColor) !important;
}

._3Vb0n {
    color: var(--TextHeaderColor) !important;
}

._1gdbn {
    color: var(--TextColor) !important;
}
._3oNvD {
    background-color: var(--BackGroundColor) !important;
}

._3Pm6e {
    background-color: var(--SelectedItem) !important;
}

._1jKLW {
    background-color: var(--BackGroundColor) !important;
}

._2hN48 {
    background-color: var(--SelectedItem) !important;
}

._1VA3z {
    background-color: var(--BackGroundColor) !important;
}

._3-9p5, .k6hKX {
    background-color: var(--BackGroundColor) !important;
}

._1HOwy {
    background-color: var(--BackGroundColor) !important;
}

.hOdmy {
    background-color: var(--BackGroundColor) !important;
}

._10T9U {
    background-color: var(--BackGroundColor) !important;
}

._2gk65 {
    background-color: var(--BackGroundColor) !important;
}

._2nvdt {
    color: var(--TextColor) !important;
}

._2Ce44 {
    color: var(--TextColor) !important;
}

._1cHvI {
    color: var(--TextHeaderColor) !important;
}

.HBGOS {
    color: var(--TextHeaderColor) !important;
}

.k6hKX {
    color: var(--TextColor) !important;
}

.wWY_2 {
    color: var(--TextHeaderColor) !important;
}

._1soKk {
    color: var(--TextColor) !important;
}

._3gX7q {
    color: var(--TextHeaderColor) !important;
}

._2gqnn {
    color: var(--TextHeaderColor) !important;
}

._315yA {
    color: var(--TextColor) !important;
}

._1VA3z {
    color: var(--TextColor) !important;
}

.hOdmy {
    color: var(--TextColor) !important;
}

.hOVdl {
    color: var(--TextHeaderColor) !important;
}

.FRf9s {
    color: var(--TextColor) !important;
}

._2f08V:last-child > .hWQ2W {
    color: var(--TextColor) !important;
}

._2GPX6 {
    background-color: var(--BackGroundColor) !important;
}

.rPqLh {
    color: var(--TextHeaderColor) !important;
}
._3oNS9 {
    color: var(--TextColor) !important;
}

._2KvKK {
    color: var(--TextColor) !important;
}
._2nHL0 {
    background-color: var(--BackGroundColor) !important;
}

.g_Zzj {
    color: var(--TextColor) !important;
}

tr:hover {
    background-color: var(--SelectedItem) !important;
}

._2bk_b th {
    background-color: var(--BackGroundColor) !important;
}

._1bAdE {
    color: var(--TextHeaderColor) !important;
}

._2KTs5 {
    color: var(--TextHeaderColor) !important;
}

._2bk_b th {
    color: var(--TextHeaderColor) !important;
}

._1VWgO, ._2iCsL {
    color: var(--TextColor) !important;
}

._1jxVm {
    color: var(--TextColor) !important;
}
.xzblA {
    background-color: var(--BackGroundColor) !important;
}

._6tX_H {
    background-color: var(--BackGroundColor) !important;
}

._11VOS {
    background-color: var(--BackGroundColor) !important;
}

._2QKoe {
    background-color: var(--BackGroundColor) !important;
}

.DvBxn _3IvEG _2YaS- _18W4A xtPuL {
    background-color: var(--BackGroundColor) !important;
}
._1hMfp, .EQdOr{
    color: var(--TextHeaderColor) !important;
}
._1hMfp{
    color: var(--TextColor) !important;
}
._3bTT7, ._3BxbA{
    background-color: var(--BackGroundColor) !important;
}
._1lJDk {
    color: var(--TextHeaderColor) !important;
}
._2YaS-{
    background-color: var(--BackGroundColor) !important;
}
._2w563{
    color: var(--TextHeaderColor) !important;
}
._2L75s{
    color: var(--TextColor) !important;
}
._3-JBe, ._20dPJ {
    color: var(--TextColor) !important;
}
.ccZTP _1m19J _1UiXw{
    color: var(--TextColor) !important;
}
._3K0I6 > h2{
    color: var(--TextHeaderColor) !important;
}
._1iPXH _2Hg6H{
    color: var(--TextColor) !important;
}
._3Lg1h{
    color: var(--TextColor) !important;
}
._29e-M{
    background-color: var(--BackGroundColorSecond) !important;
}
._1KUxv{
    background-color: var(--BackGroundColorSecond) !important;
}
._2Pb9t{
    color: var(--TextColor) !important;
}
._13doy{
    color: var(--TextColor) !important;
}
.fYaYB _15ywt _34k_q _3Lg1h _13doy{
    color: var(--TextColor) !important;
}
._2O14B {
    color: var(--TextColor) !important;
}
._2O14B._1v2Gj{
    color: var(--SelectedItem) !important;
}
.SEEvZ{
    color: var(--TextHeaderColor) !important;
}
.zylDf{
    color: var(--TextHeaderColor) !important;
}
._3ET5m .ZzIVh{
    color: var(--TextHeaderColor) !important;
}
._2Y9tM{
    color: var(--TextHeaderColor) !important; 
}
._2BqEp{
    color: var(--TextColor) !important;
}
span{
    color: var(--TextColor) !important;
}
._2fqcw{
    background-color: var(--BackGroundColorSecond) !important;
}
.qI8DF{
    background-color: var(--BackGroundColorSecond) !important;
}
._5CGAu{
    background-color: var(--BackGroundColorSecond) !important;
}
._2zOgU .zylDf{
    background: var(--BackGroundColorSecond) !important;
}
._28V9T _3yAjN{ 
    color: var(--TextHeaderColor) !important;
}
._1UqAr _3Qruy > span {
    color: var(--TextHeaderColor) !important;
}
._28V9T{
    color: var(--TextColor) !important;
}
._3f_Q3{
    background: var(--BackGroundColorSecond) !important;
}
._17nEt{
    color: var(--TextColor) !important;
}
._17nEt:disabled{
    -webkit-text-fill-color: var(--TextColor) !important;  
}
._3PrAS{
    color: var(--TextHeaderColor) !important;
}
._3uAwj {
    color: var(--TextColor) !important;
}
._1C24l h2{
    color: var(--TextHeaderColor) !important;
}
._1C24l p{
    color: var(--TextColor) !important;
}
.PqXfk {
    color: var(--TextHeaderColor) !important;
}
._1ccgT{
    color: var(--TextHeaderColor) !important;
}
._3mxWC{
    color: var(--TextHeaderColor) !important;
}
._2s4Lh{
    color: var(--TextColor) !important;
}
._2cQin{
    color: var(--TextHeaderColor) !important;
}
.WOZnx.LhRk3:not(._1rl91):before, .WOZnx:disabled:not(._1rl91):before{
    background: var(--BackGroundColorSecond) !important;
}
.WOZnx.LhRk3:not(._1rl91):before, .WOZnx:disabled:not(._1rl91):before{
    background: var(--SelectedItem) !important;
}
._2NolF.LhRk3:not(._1rl91):before, ._2NolF:disabled:not(._1rl91):before{
    background-color: var(--ButtonColor) !important;
}
.WOZnx:before{
    background-color: var(--ButtonColor) !important;
}
._3C_oC:before{
    background-color: var(--ButtonColor) !important;
}
._1QDX9{
    background-color: var(--BackGroundColorSecond) !important;
}
._2EMUT{
    color: var(--TextColor) !important;
}
._2NolF:before{
    background-color: var(--ButtonColor) !important;
}
._2CuNz{
    color: var(--TextColor) !important;
}
._2SU00{
    color: var(--TextHeaderColor) !important;
}
._2DNvM{
    color: var(--TextHeaderColor) !important;
}
._1QDX9, ._17nEt{
    color: var(--TextColor) !important;
}
label > span{
    color: var(--TextColor) !important;
}
label > input {
    color: var(--TextColor) !important;
}
div > span > ._3gI0Y{
    color: var(--TextColor) !important;
}
._28V9T{
    color: var(--TextHeaderColor) !important;
}
*, :after, :before, button, button:focus, input, textarea{
    color: var(--TextColor) !important;
}
.-oI84, .KAjTN{
    background-color: var(--ButtonColor) !important;
}
._3vF5k{
    background-color: var(--BackGroundColorSecond) !important;
}
._3e9O1{
    background-color: var(--BackGroundColorSecond) !important;
}
._2lvkY{
    background-color: var(--BackGroundColorSecond) !important;
}
.TVxEB{
    background-color: var(--BackGroundColorSecond) !important;
}
._2FKqf{
    background-color: var(--BackGroundColorSecond) !important;
}
._2ikVT{
    background-color: var(--BackGroundColor) !important;
}
._3_lqo{
    background: var(--BackGroundColorSecond) !important;
}
._2NxDA{
    background-color: var(--BackGroundColorSecond) !important; 
}
div ._3ZuGY{
    background-color: var(--BackGroundColorSecond) !important; ;
}
.vJj1P {
    background: var(--BackGroundColorSecond) !important;
}