:root{
    --BackGroundColor: #607d8b;
    --TextColor: white;
    --SelectedItem: #69b2c8;
}
body {
    background-color: var(--BackGroundColor) !important;
    border-color : black;
}

._3ZJK8 {
    background-color: var(--BackGroundColor) !important;
}
._3g2C1{
    background-color: var(--BackGroundColor) !important;
}
._3Gj5_ {
    background-color: var(--BackGroundColor) !important;
}
._3ZuGY {
    background-color: var(--BackGroundColor) !important;
}
._3QwaZ  {
    background-color: var(--SelectedItem) !important;
}
.yXp5g:hover {
    background-color: var(--SelectedItem) !important;
}
._3esGm {
    background-color: #66aac6 !important; ;
}

/*Texts color*/
._1LpFA{
    color: var(--TextColor) !important;
}
._288DZ{ 
    color: var(--TextColor) !important;
}
._3cvJx {
    color: var(--TextColor) !important;
}

